.auth-container {
    border: 1px solid yellow;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10%;
}
  
  .user-info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
  }
  .user-name {
    width: 49%;
  }
  .user-name {
    display: flex;
    flex-direction: column;
  }
  .form-container {
    margin: 1.5rem;
  }
  .auth-main-container {
    margin: 1rem;
  }
  .auth-main-container header {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .input-container > input {
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
  }
  .user-name > input {
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
  }
  .btn-primary {
    width: 100%;
    background-color: rgb(211, 128, 128);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 10px;
    margin: 1rem 0;
  }
  .auth-navigater {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-primary {
    text-decoration: none;
    color: black;
  }
  .password-container{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
  }
  .password-container>input{
    border: none;
    padding: 0.3rem 0.6rem;

  }
  input{
    cursor: pointer;
  }
  