.loader-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 99999;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}