
/* product-container */
.product-container {
  
    text-align: center;
    position: relative;
    width: 20%;
    overflow: hidden;
    margin: 0.8rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    margin-bottom: 1rem;
  }
  .product-image-detail {
    height: 14rem;
    width: 100%;
    transition: transform .5s,-webkit-transform .5s;
    width: 100%;
  }
  .product-image-detail:hover{
    /* transition: transform 0.9s; */
    transform: scale(1.05);
  }
  .product-image-detail>img{
    width: 100%;
    height:100%;
    object-fit: fill;
  }
  .product-image:hover{
    transition: .5s;
  }
.wishlist-btn{
  position: absolute;
  top: 0%;
  right: 0%;
}
  .wishlist-icon {
    position: absolute;
    top: 5%;
    right: 3%;
    opacity: 1;
    z-index: 1;
  }
  .product-container:hover .wishlist-icon {
    color: red;
    opacity: 1;
  }
  
  .product-details {
    width: 100%;
    /* height: 15%; */
    padding: 1rem 0.5rem
    
  }
  .product-title {
    line-height: 1rem;
    margin: 0;
    font-size: 0.88rem;
    font-weight: 500;
    letter-spacing: 2px;
    white-space: normal;
    overflow-wrap: break-word;
    /* margin-bottom:; */
  }
  .product-title:hover{
    color: red;
  }
  .product-price {
    font-size: 0.95rem;
    font-weight: 500;
  }
  .price:first-child {
    color: red;
    font-size: 1rem;
    line-height: 1rem;
  }
  .price:nth-child(2) {
    text-decoration: line-through;
    color: #B9BAA2;
    font-weight: 400;
    padding-right: 0.25rem;
  }
  .price:last-child{
    color: red;
  }
  .btn-add {
    border-radius: 15px;
    padding: 0.3rem 1.5rem;
    border: none;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .btn-add:hover {
    background-color: black;
    color: white;
  }
  .product-rating{
    display: flex;
    align-items: center;
    padding: 0.3rem 0.4rem;
    font-size: 0.95rem;
    /* justify-content: space-around; */
    margin: 0.5rem ;
    /* padding:0.5rem 1rem; */
  }
  .product-ratingnumber{
    display: flex;
    align-items: center;
  }
  .product-review{
    font-size: 0.95rem;
    color: #87898B;
  }
  
  @media screen and (width<=760px) {
    .product-container {
      width: 50%;
    }
  }
  @media screen and (width<=500px) {
    .product-container {
      width: 100%;
    }
  }
  