.filter-container {
    width: 90%;
    margin: 0.75rem auto;
    padding: 0.5rem 1.5rem;
  }
  .filter-heading {
    display: flex;
    justify-content: start;
    font-size: 1.1rem;
    font-weight: 800;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  .filter-title{
    font-size: 1rem;
  }
  .filter-input-container{
    padding: 1rem 0;
    /* padding: 1rem; */
  }
  .btn-clear{
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    font-weight: 900;
  }
 
  .filter-input {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
    width: 90%;
  }

  .filter-input>label>input{
    width: 100%;
  }
  .input-filter {
    padding: 0.25rem;
  }
  .rating{
    display: flex;
    justify-content: space-between;
  }


  .borderBottom{
    border-bottom: 1px solid red;
  }
  