.filter-container {
    width: 90%;
    margin: 0.75rem auto;
    /* padding: 0.5rem 1.5rem; */
  }
  .filter-heading {
    display: flex;
    justify-content: start;
    font-size: 1.1rem;
    font-weight: 800;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  .filter-title{
    font-size: 1rem;
  }
  .filter-input-container{
    padding: 1rem 0;
    /* padding: 1rem; */
  }
  .btn-clear{
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    font-weight: 900;
  }
 
  .filter-input {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
    width: 90%;
  }

   .filter-input>label>input{
    width: 100%;
  } 


  .filter-input>label>input[type="checkbox"]{
    width: 10%;
  } 
  .filter-input>label>input[type="radio"]{
    width: 10%;
  } 


 
  .filter-input>label>input :last-child{
    width: 10%;
  }
  .rating{
    display: flex;
    justify-content: space-between;
  }


  .borderBottom{
    border-bottom: 1px solid red;
  }
  

  .btn-clear{
    margin-top: 1rem;
    text-align: center;
    border: none;
    width: 100%;
    background-color: rgb(145, 148, 150);
    padding: 0.5rem 1rem;
    
  }
  .btn-clear:hover{
     background-color:red;
     color: white;
  }