.displayNone{
    display: none;
}

.displayFlex {
    z-index: 3;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    margin: 0 auto;
}
.blur-background{
    filter: blur(3px);
}
.user-info-container{
    width: 80%;
    margin: 0 auto;
}
.title{
text-align: center;
}
.user-info-detail{
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
}
.btn-display{
    width: 50%;
    border: none;
    padding: 0.5rem 1rem;
}
.user-content{
    margin: 1rem;
}
.user-profile{
    margin:1rem 0 ;
}
.user-profile>h2{
    padding-bottom: 0.8rem;
    border-bottom:1px solid black;
    margin-bottom: 1rem;
}
.btn-Add{
    border: none;
    font-size: 1rem;
    color: black;
    font-weight:bolder;
    background-color: white;
    margin-top: 1rem;
}


.address-container{
    
}
.addressCard-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5rem 1rem;
    margin: 1rem;
}





.button-5 {
 padding: 0.25rem 0.5rem;
 margin-right: 0.5rem;
background-color: antiquewhite;
color: black;
}

.button-5:hover,
.button-5:focus {
  background-color:red;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
