.container-center {
    width: 80%;
    margin: 0 auto;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

    /* border: 1px solid red; */
    /* height: 100vh; */
  }
  .conatiner-content {
    /* margin: 1.5rem; */
    width: 70%;
    margin: 0 auto;
    margin: 2rem;
  }
  .conatiner-content {
    display: flex;
  }
  .img-container {
    width: 50%;
    height: 50%;
    /* margin: 1rem; */
  }
  .conatiner-detail {
    width: 50%;
    margin: 1.5rem 0;
  }
  .product-img {
    width: 300px;
    object-fit: contain;
    /* min-width: 180px; */
  }
  .productDetail-Title {
    font-size: 1rem;
  }
  .current-price {
    color: red;
    font-size: 1.5rem;
  }
  .original-price {
    font-size: 1rem;
  }
  .discount {
    border: 1px solid red;
    padding: 0.2rem 0.5rem;
    margin-left: 1rem;
    color: red;
  }
  .button-action{
    margin: 1rem 0;
  }
  .button-action > button {
    /* width: 30%; */
    padding: 0.5rem 1.3rem;
    margin-right: 0.85rem;
    border: none;
    color: red;
  }
  
  .button-action > button:hover {
    background-color: red;
    color: white;
  }


  .feature {
    margin: 2rem 0;
    display: flex;
  
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    /* align-items: start; */
    /* align-items: center; */
  
    /* justify-content: start; */
  }
  
  @media (width<=768px) {
    .conatiner-content {
      /* text-align: center; */
      display: block;
      width: 100%;
    }
    .conatiner-content {
      width: 80%;
      margin: 0 auto;
    }
  
    .conatiner-detail {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  
  @media(width<=500px){
    .product-img {
      width: 200px;
    }
  }