input:focus, textarea:focus, select:focus{
    outline: none;
}


.navigation-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    /* flex-shrink: 1; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    /* height: 64px; */
  }

  .logo{
    /* height: 100%; */
    
  }
  .logo img {
    /* background-color: red; */
  }
  .comapany-logo{
    height: 50px;
    width: 100%;
    /* background-color: red; */
  }

  
  .navigation-search{
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    align-items: center;
    padding: 0.25rem 1rem ;
  }
  .search-bar{
    width: 100%;
    border: none;
  }
  
  .navigation-pages{
    display: flex;
    color: red;
  }
  .navigate-link{
    padding: 0rem 0.25rem;
    /* padding: 0; */
    text-decoration: none;
  }
  .product{
    align-items: center;
  }




  @media (width<800px) {
    .navigation-container{
      flex-wrap: wrap;
    }
    .navigation-search{
      order: 2;
    }
    .navigation-search{
      width: 100%;
    }
    
  }


  @media (width<500px) {
    .navigation-container{}
    
  }
  