
.navigation-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
  }
  .comapany-logo{
    height: 50px;
    width: 100%;
    
  }

  
  .navigation-search{
    display: flex;
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    padding: 0.25rem 1rem ;
    padding-right: 0.25rem;
  }
  .navigation-search:focus-within{
    border-color: red;
  }
 
  .search-bar{
    width: 100%;
    border: none;
  }
  .navigation-pages{
    display: flex;
  }
  .navigate-link{
    padding: 0rem 0.25rem;
    text-decoration: none;
    margin-left: 0.25rem;
  }
  .product{
    align-self: center;
  }
a{
  text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: red;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
   
}
.cart,.wishlist{
  position: relative;
}
.count {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 16px;
  height: 16px;
  line-height:16px;
  display: block;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.displayNone{
  display: none;
}


  @media (width<800px) {
    .navigation-container{
      flex-wrap: wrap;
    }
    .navigation-search{
      order: 2;
    }
    .navigation-search{
      width: 100%;
    }
    
  }


  @media (width<500px) {
    .navigation-container{}
    
  }
  