input:focus, textarea:focus, select:focus{
    outline: none;
}

.navigation-container {
    max-width: 80%;
    margin: 0 auto;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-search{
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    align-items: center;
    padding: 0.25rem 1rem ;
  }
  .search-bar{
    border: none;
  }
  
  .navigation-pages{
    display: flex;
    color: red;
  }
  .navigate-link{
    margin: 0rem 0.5rem;
    padding: 0;
    text-decoration: none;
  }
  .product{
    align-items: center;
  }
  