.wishlistcard-conatiner{
   
    margin: 1rem auto;
}

.wishlistproduct-detail{
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.wishlistcard-detail{
display: flex;
justify-content: space-around;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.action-btn{
    margin-top: 2rem ;
    /* align-items: flex-end; */
    /* justify-self: flex-end; */
}