.productt{
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    flex: 1;
}
.filter-containerr{  
    width: 21%;
    border-right: 1px solid black;
    align-self: flex-start;
    height: 100vh;
}

.productList-container{
    
    width: 78%;
}
.productList-container-content{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 80%; */
    background-color: #FFFFFF;
}


.mobile-nav{
    /* display: block; */
    position: absolute;
    height: 100%;
    min-width: 35%;
    z-index: 999;
    top: 0%;
    right: 0;
    background-color: #F1EDED;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: translateX(100%);
    transition: all 0.4s;
}

/* .displayfilter{
    display: block;
} */

.showModal{
    transform: translateX(0%);
}








.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}



@media (width>768px){
    .mobile-nav{
        display: none;
    }
    .filtericon{
        display: none;
    }
}
@media (width<=768px) {
    .productt{
        display: block;
    }
    .filter-containerr{
        display: none;
    }
    .productList-container{
        width:100%;
    }
    
}
