/* .App{ */
    /* max-width: 80%; */
    /* margin: 0 auto; */
/* } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}

.text-center{
    text-align: center;
    margin-top: 2rem;

}

.displayFlexx{
    display: flex;
    align-items: center;
}


.navcontainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.main-content{
    margin:3rem 0;

}
.toast-container {
  }
.loader {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999; 
  }
  .cursor{
    cursor: pointer;
  }

@media (width<=800px) {
    .main-content{
        margin: 5rem 0;
    }
    
}