/* .App{ */
    /* max-width: 80%; */
    /* margin: 0 auto; */
/* } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
/* footer{
    text-align: center;
} */


.text-center{
    text-align: center;
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
}

.displayFlexx{
    display: flex;
    align-items: center;
}


.navcontainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.main-content{
    margin:3.5rem 0;
    /* padding-top: 5rem; */
}
.toast-container {
    /* margin-top: 15rem; */
  }


@media (width<=800px) {
    .main-content{
        margin: 5rem 0;
    }
    
}